---
import Layout from "../layouts/Layout.astro";
import { Scale } from "lucide-react";
import { buttonVariants } from "@/components/ui/button";
---

<Layout>
  <section class="w-full py-12 md:py-24 lg:py-32">
    <div class="container mx-auto px-4 md:px-6">
      <div class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
        <div class="flex flex-col justify-center space-y-4">
          <div class="space-y-2">
            <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none pb-2">
              Se vilka politiker som lever upp till sina ord
            </h1>
            <p class="max-w-[600px] text-muted-foreground md:text-xl">
              Brutna Löften är en databas som spårar och analyserar politiska
              löften. Vi håller koll på vad politiker säger och vad de
              faktiskt gör.
            </p>
          </div>
          <div class="flex flex-col gap-2 min-[400px]:flex-row">
            <a
              href="search"
              class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-8 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring"
            >
              Sök i databasen
            </a>
          </div>
        </div>

        <Scale aria-hidden="true" className="place-self-center w-3/4 h-auto max-h-96" />
      </div>
    </div>
  </section>
</Layout>
